# generic
*.a
*.o
*.o.d
*.pyc
*.so
*~
.*.swp

# generated
version.h

# programs


# tests
test/list

# examples
example/basic
example/window
example/draw
example/text
example/button

platform/mac-cocoa/simple


# tags
tags
TAGS

# stgit generated dirs
patches-*

# quilt's files
patches
series

# local makefile
local.mk
.*.mk

# cscope and Qt files
cscope.out
*.pro*
